<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Apartamento</title>
</head>
<body>
   <h1>Detalles del Apartamento</h1>
   <img src="<%= apartment.mainPhoto%>" alt="">
   <p>Nombre: <%= apartment.title %> </p>
   <p>Precio: <%= apartment.price %> </p>
   <p>Metros cuadrados: <%= apartment.size %> </p>

</body>
</html>